<plugin name='envers' version='0.1.7' grailsVersion='1.3.7 &gt; *'>
  <author>Lucas Ward</author>
  <title>Grails Envers Plugin</title>
  <description>\
Plugin to integrate grails with Hibernate Envers
</description>
  <documentation>http://grails.org/plugin/envers</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>net.lucasward.grails.plugin.Address</resource>
    <resource>net.lucasward.grails.plugin.Customer</resource>
    <resource>net.lucasward.grails.plugin.OrderEntry</resource>
    <resource>net.lucasward.grails.plugin.State</resource>
    <resource>net.lucasward.grails.plugin.User</resource>
    <resource>net.lucasward.grails.plugin.inheritance.AbstractPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.AmateurPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.BaseballPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.FootballPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.ProfessionalPlayer</resource>
    <resource>net.lucasward.grails.plugin.inheritance.entry.AbstractPerformanceYear</resource>
    <resource>net.lucasward.grails.plugin.inheritance.entry.AmateurPerformanceYear</resource>
    <resource>net.lucasward.grails.plugin.inheritance.entry.ProfessionalPerformanceYear</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>